<script type="text/template" id="reg_tem">
     <div id="container1">Registration Form</div>
        <table style="width: 100%;">
        <tr>
            <td style="width: 20%;">Name:</td>
            <td style="width: 40%;"><input name="name" type="text" class="name" placeholder="Name"/></td>
            <td style="width: 40%;"><label for="name" class="namelabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Email</td>
            <td style="width: 40%;"><input name="email" type="text" class="email" placeholder="Email"/></td>
            <td style="width: 40%;"><label for="email" class="emaillabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Phone</td>
            <td style="width: 40%;"><input name="phone" type="text" class="phn" placeholder="Phone"/></td>
            <td style="width: 40%;"><label for="phn" class="phnlabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Password</td>
            <td style="width: 40%;"><input name="pass" type="password" class="pwd" placeholder="Password"/></td>
            <td style="width: 40%;"><label for="pwd" class="pwdlabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Confirm Password</td>
            <td style="width: 40%;"><input type="password" class="cpwd" placeholder="Confirm Password"/></td>
            <td style="width: 40%;"><label for="cpwd" class="cpwdlabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Occupation</td>
            <td style="width: 40%;"><input name="occupation" type="text" class="work" placeholder="Occupation"/></td>
            <td style="width: 40%;"><label for="work" class="worklabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">PAN</td>
            <td style="width: 40%;"><input name="pan" type="text" class="pan" placeholder="PAN"/></td>
            <td style="width: 40%;"><label for="pan" class="panlabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Address</td>
            <td style="width: 40%;"><textarea name="address" class="add" placeholder="Address"></textarea></td>
            <td style="width: 40%;"><label for="add" class="addlabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">PIN</td>
            <td style="width: 40%;"><input name="pin" type="text" class="pin" placeholder="Pin"/></td>
            <td style="width: 40%;"><label for="pin" class="pinlabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Qualification</td>
            <td style="width: 40%;"><input name="quali" type="text" class="qual" placeholder="Qualification"/></td>
            <td style="width: 40%;"><label for="qual" class="quallabel"></label></td>
        </tr>
        <tr>
            <td style="width: 20%;">Country</td>
            <td style="width: 40%;"><select name="country" class="country sel">
                    <option value="">--Please Select--</option>
                    <option value="india">India</option>
                    <option value="france">France</option>
                    <option value="usa">USA</option>
                </select></td>
            <td style="width: 20%;"></td>    
        </tr>
        <tr>
            <td style="width: 20%;">City</td>
            <td style="width: 40%;"><select class="cities sel">
                    <option  value="">---</option>
                    <option class="india" value="kol">Kolkata</option>
                    <option class="india" value="del">Delhi</option>
                    <option class="india" value="goa">Goa</option>
                    <option class="france" value="Paris">Paris</option>
                    <option class="france" value="Lyon">Lyon</option>
                    <option class="france" value="nice">Nice</option>
                    <option class="usa" value="chicago">Chicago</option>
                    <option class="usa" value="seattle">Seattle</option>
                    <option class="usa" value="boston">Boston</option>
                </select></td>
            <td style="width: 20%;"></td>
        </tr>
       
        <tr>
            <td style="width: 10%;"></td>
            <td style="width: 10%;"></td>
            <td style="width: 80%;"><input type="submit" value="Register" class="" id="subm"/></td>
        </tr>
    </table>
</script>